* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    margin: 1.2rem;
}

.selecionarCliente,
.cnpjDoCliente,
.ac {
    display: flex;
}

.selecionarClienteSelect {
    width: 240px;
    height: 1.5em;
    align-self: flex-end;
}

.header>div {
    margin-top: 1rem;
}

.textoHeader,
.Input {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    align-self: flex-end !important;
    line-height: 1em;
    margin-right: 10px;
}

.Input {
    margin: 0;
    background-color: #fff !important;
    text-align: left !important;
    margin-left: 10px;
    font-weight: normal;
}

.footerLinha .Input {
    width: 100vw;
}

.Orcamento {
    margin: 1.2rem
}

.Infos {
    margin: 1.2rem;
}

.infoLinha {
    display: flex;
    margin: 1rem 0;
}

.infoLinha p {
    align-self: flex-end;
}

.Assinaturas, .Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.2rem;
    height: 100px;
}

.Assinaturas .Input, .Footer .Input {
    text-align: center !important;
}

.local {
    display: flex;
}

.local .Input {
    display: block;
    float: right;
    clear: both;
    width: 100px !important;
    text-align: end !important;
}

.assinatura, .Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.funcaoDoResponsavel, .footerLinha {
    text-align: center;
    margin: 0 auto;
}

.nomeDoResponsavel .Input {
    width: 30vw;
}

.btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    background: skyblue;
}

.footerWrap {
    margin: auto;
}

.btn:hover {
    cursor: pointer;
    background: rgb(160, 212, 232);
}

@media print {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    * {
        font-size: .7rem;
    }

    .imprimir {
        width: 210mm;
        height: 297mm;
    }
}