:root {
    --dark-color: #333;
    --light-color: #fff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0; 
}

.active {
    background-color: #555;
}